@font-face {
  font-family: "FontAwesome";
  src: url("../font/fontawesome-webfont.eot?v=3.2.1");
  src: url("../font/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: "FontAwesome" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothinsg: grayscale; }

.icon-weixin:before, .icon-weixin before {
  content: "\f18a"; }

.icon-comment:before, .icon-comment before {
  content: "\f075"; }

.icon-app:before, .icon-app before {
  content: "\f0a7"; }

.icon-top:before, .icon-app before {
  content: "\f0aa"; }

a {
  text-decoration: none; }

* {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%;
  background: #e0e0df url("../images/bg.jpg") no-repeat left top fixed;
  font-family: "Hobo Std";
  font-size: 14px; }

a {
  text-decoration: none;
  outline: none; }

img {
  border: none;
  outline: none; }

em {
  font-style: normal; }

abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video {
  display: block; }

ul {
  list-style: none; }

h2, h3 {
  font-size: 2em; }

.session-wrap:after {
  content: "";
  display: block;
  clear: both;
  width: 0;
  height: 0; }

header {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #f8f8f8; }

footer {
  position: relative;
  background-color: #202020;
  color: #fff; }

header, footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  #line-height: 100px;
  _line-height: 100px;
  z-index: 999; }
  header nav, footer nav {
    float: left;
    margin-left: 50px;
    height: 100px;
    line-height: 100px;
    #line-height: 100px;
    _line-height: 100px; }
    header nav a, footer nav a {
      float: left;
      width: 50px;
      height: 100px;
      *line-height: 100px; }
      header nav a i, footer nav a i {
        #padding: 45px 0;
        _padding: 45px 0;
        color: #a0a1a5; }
  header h1, footer h1 {
    width: 16%;
    position: absolute;
    left: 50%;
    margin-left: -8%;
    font-szie: 3em; }
  header .more, footer .more {
    float: right;
    height: 100px;
    line-height: 100px;
    #line-height: 100px;
    _line-height: 100px;
    margin-right: 50px;
    _position: relative; }
    header .more .fa, footer .more .fa {
      #padding: 45px 0;
      _padding: 45px 0;
      color: #a0a1a5; }

.session-wrap {
  width: 92%; }

.opacity {
  -webkit-transition: all 1s;
  transition: all 1s;
  filter: alpha(opacity=0);
  opacity: 0; }

.session-wrap-pic {
  margin: 12.5% 50px 0; }
  .session-wrap-pic .images {
    display: inline-block;
    width: 21.1%;
    height: 45%;
    margin: 0 3.5% 30px 0;
    position: relative;
    padding: 7px 7px 2px 7px;
    background: #fff;
    cursor: pointer; }
    .session-wrap-pic .images img {
      max-width: 100%;
      height: 100%; }
    .session-wrap-pic .images .time {
      position: absolute;
      top: 2%;
      left: 2.8%;
      width: 83.2%;
      height: 10%;
      filter: alpha(opacity=0);
      opacity: 0;
      background: #000;
      color: #fff;
      font-size: 0.8em;
      padding: 5% 6%;
      -webkit-transition: all 1s;
      transition: all 1s; }
      .session-wrap-pic .images .time .time-left, .session-wrap-pic .images .time .time-right {
        display: inline-block; }
        .session-wrap-pic .images .time .time-left em, .session-wrap-pic .images .time .time-right em {
          display: block;
          font-weight: bold;
          font-style: normal;
          margin-bottom: 5px; }
      .session-wrap-pic .images .time .time-left, .session-wrap-pic .images .time .time-right {
        _zoom: 1;
        *display: inline; }
      .session-wrap-pic .images .time .time-left {
        width: 80%;
        text-align: left; }
      .session-wrap-pic .images .time .time-right {
        width: 20%;
        text-align: right; }
    .session-wrap-pic .images .comment {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 84%;
      background: #fff;
      padding: 13% 8%;
      letter-spacing: 5px;
      color: #c9c8c7;
      filter: alpha(opacity=0);
      opacity: 0;
      -webkit-transition: all 1s;
      transition: all 1s; }
      .session-wrap-pic .images .comment .fa-heart, .session-wrap-pic .images .comment .fa-comment {
        color: #e6618c; }
      .session-wrap-pic .images .comment .fa-comment {
        margin-left: 10%; }
      .session-wrap-pic .images .comment .fa-arrows-alt {
        position: absolute;
        right: 8%;
        color: #000;
        filter: alpha(opacity=0);
        opacity: 0;
        font-size: 1.3em; }
    .session-wrap-pic .images:hover .time {
      filter: alpha(opacity=50);
      opacity: 0.5; }
    .session-wrap-pic .images:hover .comment {
      filter: alpha(opacity=100);
      opacity: 1; }
      .session-wrap-pic .images:hover .comment .fa-arrows-alt {
        filter: alpha(opacity=100);
        opacity: 1; }
  .session-wrap-pic .images {
    _zoom: 1;
    *display: inline; }
  .session-wrap-pic .images-last {
    margin-right: 0; }

.session-wrap-texts {
  width: 52%;
  margin: 25px 50px;
  background: #fff;
  text-align: center;
  padding: 4% 20%;
  line-height: 2; }
  .session-wrap-texts h2 {
    font-weight: normal;
    line-height: 4; }
  .session-wrap-texts p {
    color: #585858; }
  .session-wrap-texts a {
    display: inline-block;
    width: 28%;
    height: 8%;
    text-align: center;
    margin-top: 10%;
    background: #202020;
    color: white;
    font-size: 1.2em; }
  .session-wrap-texts a {
    _zoom: 1;
    *display: inline; }

.session-wrap-blog {
  margin: 25px 50px;
  overflow: hidden;
  _zoom: 1; }
  .session-wrap-blog .article {
    float: left;
    width: 73%;
    margin-right: 5%; }
    .session-wrap-blog .article .article-concrete {
      background: #fff;
      width: 92%;
      height: auto;
      min-height: 330px;
      padding: 50px 4%;
      position: relative;
      margin-bottom: 50px; }
      .session-wrap-blog .article .article-concrete a {
        color: #000; }
      .session-wrap-blog .article .article-concrete .digest {
        display: block;
        width: 100%;
        color: #989b9f;
        height: auto;
        min-height: 0px; }
        .session-wrap-blog .article .article-concrete .digest .time {
          display: inline-block;
          margin-left: 5%; }
        .session-wrap-blog .article .article-concrete .digest .last {
          display: inline-block;
          margin-left: 18%; }
      .session-wrap-blog .article .article-concrete h2 {
        margin: 3% 0; }
      .session-wrap-blog .article .article-concrete .img-wrapper {
        float: left;
        width: 27%;
        margin-right: 4%; }
      .session-wrap-blog .article .article-concrete img {
        max-width: 95%;
        height: auto; }
      .session-wrap-blog .article .article-concrete .img-bottom {
        display: block;
        margin: 5% 0;
        color: #989b9f; }
      .session-wrap-blog .article .article-concrete .identity {
        position: absolute;
        width: 10%;
        top: 22%;
        right: 5%;
        text-align: center; }
        .session-wrap-blog .article .article-concrete .identity .author {
          font-size: 2em; }
        .session-wrap-blog .article .article-concrete .identity .name {
          color: #e6618c; }
        .session-wrap-blog .article .article-concrete .identity .avatar {
          display: block;
          position: relative;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin: 30% auto 50%; }
          .session-wrap-blog .article .article-concrete .identity .avatar img {
            max-width: 100%;
            height: auto; }
          .session-wrap-blog .article .article-concrete .identity .avatar .more {
            position: absolute;
            height: 25px;
            width: 160%;
            left: 100%;
            top: 50%;
            margin-top: -12px;
            background: url("../images/arrow.jpg") no-repeat center center;
            line-height: 25px;
            filter: alpha(opacity=0);
            opacity: 0;
            -webkit-transition: all 1s;
            transition: all 1s; }
            .session-wrap-blog .article .article-concrete .identity .avatar .more a {
              display: inline-block;
              height: 25px;
              #padding: 5px 0;
              _padding: 5px 0;
              color: #fff; }
            .session-wrap-blog .article .article-concrete .identity .avatar .more a {
              _zoom: 1;
              *display: inline; }
          .session-wrap-blog .article .article-concrete .identity .avatar:hover .more {
            filter: alpha(opacity=100);
            opacity: 1; }
        .session-wrap-blog .article .article-concrete .identity .share {
          display: block;
          color: #989b9f;
          margin-bottom: 15%; }
      .session-wrap-blog .article .article-concrete p {
        width: 51%;
        margin-left: 31%;
        line-height: 1.8; }
      .session-wrap-blog .article .article-concrete .para-first {
        color: #989b9f;
        margin-bottom: 3%; }
  .session-wrap-blog aside {
    float: left;
    width: 20%; }
    .session-wrap-blog aside .aside-inner {
      width: 100%;
      margin-bottom: 50px;
      background: #fff;
      padding: 15% 15%;
      text-align: center; }
      .session-wrap-blog aside .aside-inner h3 {
        width: 70%;
        margin: 13% 0 13%; }
      .session-wrap-blog aside .aside-inner a {
        display: block;
        height: 100%;
        color: #676767;
        font-weight: normal; }
      .session-wrap-blog aside .aside-inner li {
        height: auto;
        min-height: 35px;
        line-height: 35px;
        text-align: left; }
      .session-wrap-blog aside .aside-inner > ul {
        height: auto;
        min-height: 200px; }
        .session-wrap-blog aside .aside-inner > ul > li li a {
          font-style: italic;
          color: #f0abbf;
          text-decoration: underline; }
          .session-wrap-blog aside .aside-inner > ul > li li a i {
            color: #ccc;
            margin-left: 5px; }
        .session-wrap-blog aside .aside-inner > ul > li > ul {
          display: none; }
          .session-wrap-blog aside .aside-inner > ul > li > ul ul {
            display: none; }
          .session-wrap-blog aside .aside-inner > ul > li > ul > .month > a {
            font-style: normal;
            color: #ccc; }
        .session-wrap-blog aside .aside-inner > ul > li em {
          color: #f0abbf;
          text-decoration: underline; }
        .session-wrap-blog aside .aside-inner > ul > li span {
          display: inline-block;
          margin-left: 20px; }
        .session-wrap-blog aside .aside-inner > ul > li:hover > ul {
          display: block; }
          .session-wrap-blog aside .aside-inner > ul > li:hover > ul > li:hover > ul {
            display: block; }

.session-wrap-more {
  margin: 25px 50px; }
  .session-wrap-more .contact, .session-wrap-more .post, .session-wrap-more .Bio {
    float: left;
    background: #fff;
    padding: 3% 3%; }
  .session-wrap-more input, .session-wrap-more textarea {
    background: #e0e0df;
    padding: 3%;
    border: 1px solid #c0c0c0;
    color: #c0c0c0;
    font-style: italic;
    font-family: "Hobo Std";
    outline: none;
    overflow: hidden; }
  .session-wrap-more a {
    display: block;
    width: 40%;
    height: 40px;
    margin-top: 4%;
    line-height: 40px;
    background: #202020;
    color: #fff;
    text-align: center; }
  .session-wrap-more .contact {
    width: 42%;
    line-height: 2; }
    .session-wrap-more .contact h3 {
      padding: 3% 0; }
    .session-wrap-more .contact p {
      color: #939292; }
    .session-wrap-more .contact form input, .session-wrap-more .contact form textarea {
      margin: 4% 6% 0 0; }
    .session-wrap-more .contact form input {
      width: 50%;
      height: 5%; }
    .session-wrap-more .contact form textarea {
      width: 93%;
      height: 200px;
      resize: none; }
    .session-wrap-more .contact form label {
      color: #c0c0c0;
      font-style: italic; }
    .session-wrap-more .contact form .alert {
      color: #f3bf68; }
  .session-wrap-more .post, .session-wrap-more .Bio {
    margin-left: 3%; }
  .session-wrap-more .post {
    width: 17%; }
    .session-wrap-more .post h3 {
      padding: 10% 0; }
    .session-wrap-more .post img {
      padding: 5px;
      background: #f0f0f0; }
    .session-wrap-more .post p {
      padding: 10% 0 3%; }
  .session-wrap-more .Bio {
    width: 43%;
    margin: 3% 0 3% 3%;
    text-align: center; }
    .session-wrap-more .Bio h3 {
      padding: 5% 0 2%; }
    .session-wrap-more .Bio input {
      width: 80%;
      margin: 5% 0; }
    .session-wrap-more .Bio a {
      margin: 0 auto; }

.appear {
  filter: alpha(opacity=100);
  opacity: 1; }

/*# sourceMappingURL=style.css.map */